@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #282828;
    --text-color: #d5d5d5;
    --good-index: #006400;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #eeeeee;
    --text-color: #1a1a1a;
    --good-index: lightgreen;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: --background-color;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  margin: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: var(--text-color);

  cursor: pointer;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: var(--background-color);
    border-top: 1px solid black;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: var(--text-color);

    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}

.top {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
}

.container-list {
  margin: 12px;
  width: 650px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  background-color: var(--background-color);
}

.padding {
  padding: 8px;
}

.is-dragging {
  /* background-color: skyblue; */
}

.is-not-dragging {
  /* background-color: white; */
}

.element-container {
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  min-height: 60px;
  background-color: var(--background-color);
}

.is-dragged {
  /* background-color: lightgreen; */
}

.element-good-index {
  background-color: var(--good-index);
}

.element-header {
  display: flex;
  justify-content: space-between;
}

.element-name {
  flex: 2;
}

.expand-div {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.info-container {
  transition: all 2s linear;
  transition: opacity 600ms, visibility 600ms;
  margin: 10px;
  display: none;
  opacity: 0;
  visibility: 0;
}

.info-container-is-displayed {
  display: block;
}

.info-container-is-transition {
  visibility: 1;
  opacity: 1;
}

.description {
  text-align: justify;
}
